# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
backend.hcl

# Dependencies
node_modules/
npm-debug.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db